Django==5.2.13
psycopg2==2.9.12
python-decouple==3.8
djangorestframework==3.17.1
django-filter==25.2
drf-spectacular==0.29.0
django-csp==4.0
django-permissions-policy==4.29.0
djangorestframework-simplejwt==5.5.1
pytest==9.0.3
pytest-django==4.12.0